<p>formulaire works!</p>
<div class="col-md-6">
    <h5 class="text-center my-4">Mettre une Ville:</h5>
    <form [formGroup]="formulaireSearchForm" (ngSubmit)="sendToAPIXU(formulaireSearchForm.value)">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          id="Location"
          aria-describedby="Location"
          placeholder="Saisir une ville"
          formControlName="location" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-md">
          Chercher</button>
      </div>
      <div class="col-md-6">
        <h3 class="text-center my-4">Résultat:</h3>
        <p class="text-center">
          Position : {{this.dataMeteo?.name}}
        </p>
        <p class="text-center">
          Temperature en Kelvin : {{this.dataMeteo?.main.temp}}
        </p>
      </div>
    </form>
  <agm-map [latitude]=this.dataMeteo?.coord.lat [longitude]=this.dataMeteo?.coord.lon [mapTypeId]='googleMapType'> </agm-map>
</div>
