
<div id="formulaire" class="col-md-6">
  <h5 class="text-center my-4">Entrez une Ville:</h5>
  <form [formGroup]="formulaireSearchForm" (ngSubmit)="sendToAPI(formulaireSearchForm.value)">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        id="Location"
        aria-describedby="Location"
        placeholder="Saisir une ville(London)"
        formControlName="location"
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success btn-md">
        Chercher</button>
    </div>
    <div id="ResultatRecherche" class="col-md-6" *ngIf="flag">
      <h3 class="text-center my-4">Résultat:</h3>

      <table class="table table-bordered table-dark table-hover">
        <thead>
          <tr>
            <th><p class="text-center">Description</p></th>
            <th><p class="text-center">Valeur</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="text-center">Position</p></td>
            <td><p class="text-center">{{getPosition()}}</p></td>
          </tr>
          <tr>
          <td><p class="text-center">Température (°C)</p></td>
            <td><p class="text-center">{{getTemperature()}} </p></td>
          </tr>
          <tr>
            <td><p class="text-center">Levé</p></td>
            <td><p class="text-center">{{getLeve()}}</p></td>
          </tr>
          <tr>
            <td><p class="text-center">Couché</p></td>
            <td><p class="text-center">{{getCouche()}}</p></td>
          </tr>
          <tr>
            <td><p class="text-center">Pression</p></td>
            <td><p class="text-center"> {{getPression()}}</p></td>
          </tr>
          <tr>
            <td><p class="text-center"> Humidité</p></td>
            <td><p class="text-center"> {{getHumidite()}}</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
