<section id="reviews" class="reviews m-top-100" >
    <div class="container">
        <div class="row">
            <div class="main_reviews">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="head_title text-center">
                        <h2>Technologie</h2>
                        <h5>A Propos</h5>
                    </div>
                </div>

                <div class="reviews_content">
                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Application web leger et rapide grace au framwork Angular coté client</h3>
                            <h5>Angular</h5>
                            <img src="../assets/images/angular.png" alt="angular" width="140"/>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->

                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Framwork Javascript coté serveur</h3>
                            <h5>Node.js</h5>
                            <img src="../assets/images/nodeJS.png" alt="nodeJS" width="200"/>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->
                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Template adapté pour le responsive design.</h3>
                            <h5>Bootstrap</h5>
                            <img src="../assets/images/boostrap.png" alt="boostrap" width="140"/>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->
                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Utilisation d'API pour le traitement des données</h3>
                            <h5>GooGleMap,OpenWeather</h5>
                            <img src="../assets/images/OpenWeather-Logo.jpg" alt="OpenWeather" width="200"/>
                            <img src="../assets/images/Google-Maps-Logo.png" alt="maps" width="160"/>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->

                </div>
            </div><!-- End off Main People -->
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off People Section-->