<section id="reviews" class="reviews m-top-100">
    <div class="container">
        <div class="row">
            <div class="main_reviews">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="head_title text-center">
                        <h2>Ce que disent les critiques</h2>
                        <h5>Commentaires</h5>
                    </div>
                </div>

                <div class="reviews_content">
                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Ce que l'art offre, c'est de l'espace - une certaine marge de manœuvre pour l'esprit. </h3>
                            <h5>John Updike</h5>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->

                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Nous ne voyons pas la nature avec nos yeux, mais avec nos compréhensions et nos cœurs.</h3>
                            <h5>William Hazlitt</h5>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->
                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Le seul courage qui compte est le genre cela vous fait passer d'un moment à l'autre.</h3>
                            <h5>Mignon McLaughlin</h5>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->
                    <div class="col-md-6">
                        <div class="reviews_item m-top-40">
                            <div class="reviews_item_icon pull-left">“</div>
                            <h3>Aucun homme n'a une assez bonne mémoire pour être un menteur réussi.</h3>
                            <h5>Abraham Lincoln</h5>
                            <div class="reviews_item_icon1 pull-right text-right">“</div>
                        </div>
                    </div><!-- End off col-md-6 -->

                </div>
            </div><!-- End off Main People -->
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off People Section-->