<section>
    <div class="container">
        <div class="row">
            <div class="main_drag roomy-50">
                <div class="col-md-12">
                    <div class="swiper-container">
                        <!-- <app-carousel-component></app-carousel-component> -->
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>