<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="main_features p-top-100">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <div class="head_title text-center">
                        <h2>Les meilleurs caractéristique</h2>
                        <h5>Seulement nécessaire</h5>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="icon icon-diamond6"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Utilisabilité</h3>
                            <p>Parfois, les choses les plus simples sont les plus difficiles à trouver.
                                Nous avons donc créé une nouvelle ligne pour la vie de tous les jours</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="icon icon-layers2"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Effet Parallax</h3>
                            <p>Parfois, les choses les plus simples sont les plus difficiles à trouver.
                                Nous avons donc créé une nouvelle ligne pour la vie de tous les jours</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="icon icon-business-32"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Couleur illimité</h3>
                            <p>Parfois, les choses les plus simples sont les plus difficiles à trouver.
                                Nous avons donc créé une nouvelle ligne pour la vie de tous les jours</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->