<section id="screen_area" class="screen_area">
    <div class="container">
        <div class="row">
            <div class="main_screen">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="head_title text-center">
                        <h2>Captures D'écrans</h2>
                        <h5>Images le plus brillante</h5>
                    </div>
                </div>
               
                <!-- Screen02-->
                <div class="screen02 roomy-50 m-top-100">
                    <div class="col-md-6 col-md-push-6">
                        <div class="screen02_img text-center">
                            <div class="attr_sun2 text-white">Ensoleilé</div>
                            <div class="attr_deg3 text-white">25 &deg;</div>
                            <img src="assets/images/screen02.png" alt="" />
                            <h1 class="sunny">Soleil</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <div class="screen02_content m-top-100">
                            <div class="screen02_content_img ">
                                <img src="assets/images/sun1.png" alt="" />
                            </div>
                            <h2 class="m-top-40">Quand il fait beau</h2>
                            <p class="m-top-20">Informations variables sur l'humidité de l'air, la sensation du temps, 
                                et la possibilité de partager ceci avec vos amis</p>

                            <ul class="list-inline m-top-50">
                                <li class="text-center">95%</li>
                                <li class="text-center">9 &deg; </li>
                                <li class="text-center">Degager</li>
                            </ul>
                        </div>
                    </div>
                </div><!--End off Screen02-->

                <!-- Screen03-->
                <div class="screen03 roomy-50 m-top-100">
                    <div class="col-md-6">
                        <div class="screen03_img text-center">
                            <div class="attr_rainy2 text-white">Pluie</div>
                            <div class="attr_deg4 text-white">9 &deg;</div>
                            <img src="assets/images/screen03.png" alt="" />
                            <h1 class="rainy">Puvieux</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="screen03_content m-top-100">
                            <div class="screen03_content_img ">
                                <img src="assets/images/rainy1.png" alt="" />
                            </div>
                            <h2 class="m-top-40">Quand il neige</h2>
                            <p class="m-top-20">Informations variables sur l'humidité de l'air, la sensation du temps, 
                                et la possibilité de partager ceci avec vos amis</p>

                            <ul class="list-inline m-top-50">
                                <li class="text-center">95%</li>
                                <li class="text-center">9 &deg; </li>
                                <li class="text-center">Neige</li>
                            </ul>
                        </div>
                    </div>
                </div><!--End off Screen02-->


            </div>
        </div><!--End off row-->
    </div><!--End off container-->
</section><!--End off Screen01 Area Section -->