<!-- Screen01-->
<div class="screen01 roomy-50">
    <div class="col-md-6">
        <div class="screen01_img text-center">
            <div class="attr_cloudy text-white">Ensoleillé</div>
            <div class="attr_deg2 text-white">15 &deg;</div>
            <img src="assets/images/screen01.png" alt="" />
            <h1 class="cloudy">Soleil</h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="screen01_content m-top-100">
            <div class="screen01_content_img ">
                <img src="assets/images/cloud1.png" alt="" />
            </div>
            <h2 class="m-top-40">Quand il y a des nuages</h2>
            <p class="m-top-20">Informations variables sur l'humidité de l'air, la sensation du temps, 
                et la possibilité de partager ceci avec vos amis</p>

            <ul class="list-inline m-top-50">
                <li class="text-center">95%</li>
                <li class="text-center">9 &deg; </li>
                <li class="text-center">Pluie</li>
            </ul>
        </div>
    </div>
</div><!--End off Screen01-->