#nomVille{
    position:absolute;
    top:80px;
    right: 20px;
    left: 20px;
    z-index:2;
    font-size: 200%;
    color:white;
    font-family: Arial Black;
}

#pays{
    position:absolute;
    top:110px;
    right: 20px;
    left: 20px;
    z-index:2;
    color:white;
}

#tempDegres{
    position:absolute;
    top:400px;
    right: 20px;
    left: 20px;
    z-index:2;
    color:white;
}

#etatTemps{
    position:absolute;
    top:450px;
    right: 20px;
    left: 20px;
    z-index:2;
    color:white;
}

